* {
    margin: 0px;
    padding: opx;
}

.heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover {
    color: #ff7235;
}


ul {
    padding: 0px;
    list-style-type: none;
}


.logoImg {
    width: 15rem;
}

.iconImg {
    width: 2rem;
    border-radius: 50%;

}

.padTop {
    padding-top: 20px;
}

#copyright {
    background-color: #232F3E;
    opacity: 0.95;
    color: rgb(212, 209, 209);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 16px;
}

#copyright p {
    font-size: 14px;
    font-family: system-ui;

}

#desktopFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #232F3E;
    opacity: 0.95;
    padding: 1.5%;
    color: #F5F5F5;
}

.follow {
    display: flex;
    flex-direction: column;
}

.socialMediaLinks {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 7%;
}

.socialMediaLinks img:hover {
    opacity: 0.7;
}

.padBottom {
    padding-bottom: 10px;
}

@media(min-width:0px) and (max-width:550px) {
    #desktopFooter {
        display: grid;
        grid-template-columns: auto;
    }

    .list {
        display: none;
    }

    .policies {
        padding-top: 10px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .terms {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .help {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .about {
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .follow {
        padding-top: 7px;
        padding-bottom: 5px;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

@media(min-width:550px) and (max-width:992px) {
    #desktopFooter {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .policies {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .help {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .about {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .follow {
        padding-left: 0px;
        padding-top: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .terms {
        padding-top: 12px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}