<div style="margin: 0px 10px;">
    <h4 style="margin-left:10%;">My Cart</h4>
    <div class="wishlist d-flex justify-content-space-between" style="margin-bottom: 10px;">
        <div class="mx-3" style="width:30%; margin-bottom:10px">
            <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/refurb-iphone-12-purple-2021?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1635202738000"
                width="100%" alt="">
        </div>
        <div class="mx-3">
            <p class="pt-2">
            <h4>PRODUCT</h4>
            <p>Lorem ipsum dolor sit.dfg </p>
            <h6>price: 1200$ </h6>
            <div class="d-flex border" style="justify-content: space-between; margin:0px 5%">
                <button style="width: 45%;" class="btn btn-primary">Buy</button>
                <button style="width: 45%;" class="btn btn-danger"><img src="../../static/header_images/cancel.png"
                        alt=""></button>
            </div>

        </div>
    </div>
    <div class="view-more-wishlist d-flex justify-content-center"><a href="/buyer_dashboard">View All</a></div>
</div>