<div class="desktop-wishlist">
    <h1>My Wishlist</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 p-3"><img src="../../static/landing-page-card-images/1.jpg" alt=""></div>
            <div class="col-sm-3 p-3 ">.col</div>
            <div class="col-sm-3 p-3 ">.col</div>
        </div>
    </div>






    <!-- <div class="card">
        <img src="../static/landing-page-card-images/11.png">
        <p>Lorem ipsum dolor sit amet consectetur</p>
        <p>Rs. 1500</p>
        <div class="cardButtons ">
            <button class="btnOne">Buy Now</button>
            <div class="btnTwo">
                <a href="#">
                    <img class="picSize" src="../../static/header_images/cart.png.png">
                </a>
            </div>
        </div>
    </div> -->
</div>