<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Header CSS Link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_css/header_css.css')}}">

    <!--Footer Css Link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer_css/style.css')}}">
    <link rel="stylesheet" href="../../static/contact.css">

</head>

<body>
    {% include 'partials/navbar.html' %}

    <div class="policy-container" style="margin-top:100px;" >
        <div class="one">
            <h1>Contact Us❤</h1>
        </div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
    </div>
    <div class="content">


        <div class="content-container1">
            <p>
                You can contact the team of BazaarTour developers with recommendations
                for improvements.
                We will be highly thankful to you in that case.
                Note: Please don't forget to keep your words respectful, empathetic,
                and genuine. We don't respond to vulgar or unethical wordings!
                To know more, please see our Community Code of Conduct here.
            </p>
            <hr>
            <b>NOTE </b>
            <p>
                Please don't forget to keep your words respectful,
                empathetic,
                and genuine. We don't respond to vulgar or unethical wordings!

                To know more, please see our Community Code of Conduct here.
            </p>
            <hr>



            <div class="contact-details">
                <h2>Contact Details:</h2>
                <h4>Professional emails of developers</h4>
                <ul>
                    <li> <a href="mailto">bazaartour@gmail.com</a> </li>
                </ul>
                <h3>Team's office contactNo.</h3>
                <p>+92 316 4080999</p>
            </div>
        </div>

</body>


</html>