.container-slider
{
    /* width: 1300px; */
    width: 90%;
    /* height: 418px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* border: 2px solid red; for testing only */
}
.swiper
{
    height: fit-content;
}
.swiper-slide img
{
    width: 100%;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev
{
    color: rgb(237, 209, 143);
    opacity: 2.5;
}
.swiper .swiper-pagination-bullet-active
{
    background-color:rgb(237, 209, 143);
}
