*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    width: 1200px;
    height: 418px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    /* border: 2px solid red; for testing only */
}
.swiper
{
    height: fit-content;
}
.swiper-slide img
{
    width: 100%;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev
{
    color: rgb(243, 189, 104);
}
.swiper .swiper-pagination-bullet-active
{
    background-color: rgb(243, 189, 104);
}