*{
  margin: 0px;
  padding: 0px;
}

  .navbar .icon-container
  {
    margin-top:20px;
    margin-right:30px;
  }

  .logo-menu-container .burger-icon
  {
    background-color: orange;
    height:50px;
  }

  .navbar .icon-container .cart img
  {
    margin-left:30px;
  }
  .navbar .icon-container .cart img:hover 
  {
    transform: scale(0.9,0.9);
  }

  .navbar .icon-container .heart-icon:hover
  {
    transform: scale(0.9,0.9);
  }

  .navbar .icon-container .login-icon:hover
  {
    transform: scale(0.9,0.9);
  }

  .navbar .icon-container .heart-icon
  {
    font-size:24px;
    color:rgb(255, 39, 39);
    margin-top: 5px;
  }

 .navbar .icon-container .login-icon
  {
    font-size:22px;
    margin-top:5px; 
    margin-left:30px; 
    color: orange;
  }
 .navbar .search-container .categories-menu-container .categories-menu .categories-link:hover
 {
   transform: scale(0.9,0.9);
 }

 .navbar .logo-menu-container .menu-container a:hover
 {
    transform: scale(1.1,1.1);
 }
 .navbar .search-container .categories-menu-container .categories-menu .categories-link
 {
   color:white;
   margin-bottom:10px;
   margin-right:8px;
   /* text-shadow:2px 2px 5px orange; */
 }

  .navbar .search-container .search-bar .search-icon
  {
    margin-left:-30px;
    color:gray;
    cursor: pointer;
  }

  .navbar .search-container .search-bar
  {
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom:15px;
  }

  .navbar .logo-menu-container .logo
  {
    width:260px;
  }
  .navbar .search-container .search-bar input
  {
    width:500px;
    height:45px;
    /* border:1px solid orange; */
    margin-top:2px;
    border-radius: 7px;
    padding: 0px 7px 0px 7px;
  } 
  .navbar .logo-menu-container .menu-container a
  {
    margin-left:10px;
  }
  .navbar .logo-menu-container .menu-container
  {
    margin-top:15px; 
    margin-right:150px;
  }

  @media (min-width:768px) and (max-width:992px)
  {
    .navbar .logo-menu-container .logo
    {
      width:170px;
    } 
    .navbar .logo-menu-container .menu-container
    {
      margin-right:50px;
    }
    .navbar .logo-menu-container .menu-container a
    {
      margin-left:0px;
    }
    .navbar .icon-container
    {
      margin-right:10px;
      margin-top:10px;
    }
    .navbar .search-container .search-bar input
    {
      width:400px;
    }
  }
  #mobile-size-view
  {
    display: none;
  }
  @media (max-width:786px)
  {
    #large-size-view
    {
      display: none;
    }
    #mobile-size-view
    {
      display: block;
    }
  }
 