.policy-container
{
    color: rgb(165, 161, 161);
    height: 110px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 1px 1px lightgray;
    width: 88%;
}

.policy-container .one
{
    background-color: #fcf5ef;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.policy-container .one h1
{
    margin-top: 25px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 45px;
}

.policy-container .two
{
    background-color: #b8d8e0;
    grid-column: 4;
    grid-row: 1 / span 2;
}

.policy-container .three
{
    background-color: #6db5Ca;
    grid-column: 5;
    grid-row: 1;
}

.policy-container .four
{
    background-color: #fdc5ad;
    grid-column: 5;
    grid-row: 2;
}


@media only screen and (min-width: 360px) and (max-width:768px)
{
    .policy-container
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
    }

    .policy-container .one
    {
        grid-column: 1;
    }

    .policy-container .two
    {
        grid-column: 2;
    }

    .policy-container .three
    {
        grid-column: 3;
    }

    .policy-container .four
    {
        grid-column: 3;
    }

    .policy-container .one h1
    {
        font-size: 20px;
        margin-top: 25px;
        margin-left: 20px;
    }
}

.container{
    /* min-width: 200%; */
    width: 100%;
    overflow: hidden;
}
body{
    background: #eee;
    padding-top: 20px;
}
.header{
    padding: 10px 0px;
    background: #f0c7b2;
    color: #fff;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.faq-item{
    margin-bottom: 20px;
    margin-top: 20px;
    color:rgb(87, 87, 87);
}
.faq-body{
    display: none;
    margin-top: 20px;
}
.faq-wrapper{
    width:auto;
    margin-bottom: 30px;
}
.faq-inner{
    padding: 30px;
    background: rgb(250, 244, 245);
}
.faq-plus{
    float: right;
    font-size: 1.4em;
    line-height: 1em;
    cursor: pointer;
    margin-right: 20px;
}
hr{
    background-color: #9b9b9b;
    width: auto;
}


