<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Header CSS Link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_css/header_css.css')}}">

    <!--Footer Css Link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer_css/style.css')}}">
    <link rel="stylesheet" href="../static/styleFAQ.css">
</head>

<body>

    {% include 'partials/navbar.html' %}
    
    <div class="policy-container" style="margin-top:100px;">
        <div class="one">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="faq-wrapper">
                <div class="header">
                    <h1>General Perspective</h1>
                </div>
                <div class="faq-inner">
                    <div class="faq-item">
                        <h4>
                            What is BazaarTour?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            We are an online ecommerce business. We are encouraging entrepreneurship in Pakistan by
                            providing
                            24hour free services. We respect your privacy and acknowledge your growth.
                            Our main agenda is to provide hassle free shopping experience to our worthy customers.
                            That's why we don't present excessive ads on our site.
                            All suggestions are always warmly welcomed, so feel free to contact us!
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What is the mission of the BazaarTour?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Our mission is to provide you hassle free opportunity for selling and purchasing products!
                            We Support Entrepreneurship!
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How to contact with our customer care services?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You can click on left bottom of the screen and can ask queries to Jasmine.
                            In case she is unable to answer you. You can contact with our live agents.
                            Their schedule is written in our customer care page. Here is the <i><b>Link.</b></i>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How can I return product?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You need to pack it in a parcel back and please read our <i><b>Return Policy</b></i> for
                            details.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How to contact with us?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            In case you want to talk to our team of developers, you can check out their page.
                            <i><b>Contact Team!</b></i>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How can I increase the chance of getting my product returned?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You must make videos while unpacking your parcel and while receiving it from delivery boy.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What is your privacy policy? How my data will be used?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Your data is secure at us. We don't sale it to 3rd party vendors. We only used your data for
                            crucial purposes. You can further read our <i><b>privacy policy.</b></i>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What features are available in BazaarTour Site?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            <p>We offer many features for you:</p>
                            <ol>
                                <li>You can register with us. So, you don't need to provide us your address again and
                                    again.</li>
                                <li>You can add your favorite products in your wishlist.</li>
                                <li>You can add multiple products in a cart. So that you can make a single order. </li>
                                <li>You can pay for the order in just few clicks. Among multiple payment methods you can
                                    also select Cash on Delivery option.</li>
                                <li>You can check out your data orders after paying for them.</li>
                                <li>You can ask your many queries from Jasmine (your Virtual Assistant).</li>
                                <li>You can talk to live services agent with our live agent chat.</li>
                            </ol>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What can I do if my customer wants to return the product?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You can chat with them using our live chat functionality. You should further checkout our
                            return policy <i><b>here.</b></i>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What is the role of BazaarTour in Transactions?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Buyers transfer payment to the BazaarTour's account. BazaarTour holds the payment from the
                            buyer until the product is safely received by the buyer. Then it is sent to the seller's
                            account.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What if I am a Victim of Fraud?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Your safety is just as important to us as it is to you. We have dedicated
                            teams of fraud specialists and moderators working hard every day to prevent
                            fraud on our platform. Unfortunately, a few scams make it through our safeguards.
                            In those situations, we actively work with the relevant authorities.
                            Report the scammer or the ad to us We will investigate it straight away.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What is the role of BazaarTour in Transactions?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Buyers transfer payment to the BazaarTour's account. BazaarTour holds the payment from the
                            buyer until the product is safely received by the buyer. Then it is sent to the seller's
                            account.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What features are available for me at BazaarTour?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            <p>We offer many features for you:</p>
                            <ol>
                                <li>You can register with us. So, you can add your store details and products.</li>
                                <li>You can add your products in the store.</li>
                                <li>You can add multiple products in same category.</li>
                                <li>You can check out your data orders after confirming the case.</li>
                                <li>You can ask your many queries from Jasmine (your Virtual Assistant).</li>
                                <li>You can talk to live services agent with our live agent chat.</li>
                                <li>You can chat with your customers too.</li>
                            </ol>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            What are the business rules that I need to obey for creating account at your site?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You can simply go through with our <i><b>Conditions for Sellers</b></i>> and <i><b>Seller
                                    Guide</b></i> video on YouTube.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            Can I track the order?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            Yes, you can track the order against <i><b>orderID</b></i>. You can track it easily with the
                            coordination of Delivery Partners.
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="faq-wrapper">
                <div class="header">
                    <h1>Seller's Perspective</h1>
                </div>
                <div class="faq-inner">
                    <div class="faq-item">
                        <h4>
                            Why is my account banned?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            If you find that you are receiving a notification that your account is banned,
                            this means that you've either breached one of our Posting rules or there is a
                            non-compliant activity as per our Trust and Safety rules relating to your account.
                            Business Users in case of Account banned are requested to contact us.
                            For any support feel free to contact Customer Services Team via the Contact Us Page.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How you can sell with us?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            You can register a seller account with us. Here you can check out <i><b>Seller Guide</b></i>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How do I delete/deactivate my account?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            We are sad to see you go! You can delete your account on a single click in my account
                            "View & edit your profile" option.
                            If you are having any problems regarding the account
                            or you wish it deleted, please contact us with registered credentials
                            via below channels, we'll be more than happy to lend a helping hand:
                            <h3>Customer Care Team (availability slots)</h3>
                            <h4>Summer:</h4>
                            <ul>
                                <li>Monday-Thursday: <b>7:00am-6:00pm</b> </li>
                                <li>Friday: <b>8:00am-12:00am</b> & <b>3:00pm-6:00pm</b></li>
                                <li>Saturday-Sunday: <b>off</b></li>
                            </ul>
                            <h4>Winter:</h4>
                            <ul>
                                <li>Monday-Thursday: <b>8:00am-4:00pm</b> </li>
                                <li>Friday-Sunday: <b>off</b></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How to create an account on BazaarTour?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            <p>For Buyer:</p>
                            <ol>
                                <li>Click on the Login Icon from the Header.</li>
                                <li>Click to register your account.</li>
                                <li>Provide all the relevant details.</li>
                                <li>Provide all the relevant details.</li>
                            </ol>
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h4>
                            How to create an account on BazaarTour?
                            <span class="faq-plus">&plus;</span>
                        </h4>
                        <div class="faq-body">
                            <p>For Seller:</p>
                            <ol>
                                <li>Click on the Sell with Us icon.</li>
                                <li>Provide your personal and store related information.</li>
                                <li>We will send 6-digit code on your email address for your verification.</li>
                                <li>Your Dashboard will be created where you can easily manage your Store and add/remove
                                    the products.</li>
                            </ol>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}


    <script type="text/javascript">
        $(".faq-plus").on('click', function () {
            $(this).parent().parent().find('.faq-body').slideToggle();
        })
    </script>
</body>

</html>