{% extends "base.html" %}
<!--Title-->
{% block title %}BazaarTour-Home{% endblock %}

<!--body-->
{% block body%}
<style>
    .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }
</style>
<!-- <div class="preload"> -->

<!-- Slider Begin-->
<section>
    <div style="margin-top:100px ;">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg1.jpg')}}"
                        alt=""></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg2.jpg')}}"
                        alt=""></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg3.jpg')}}"
                        alt=""></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg4.jpg')}}"
                        alt=""></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg5.jpg')}}"
                        alt=""></div>
                <div class="swiper-slide"><img src="{{ url_for('static', filename='slider_images/sliderimg6.jpg')}}"
                        alt=""></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- End Slider -->

<input type="text" id="prod_id" placeholder="prod_id">
<button id="testbtn">test</button>
<script>
    $(document.body).on('click', '#testbtn', function () {
        $.ajax({
            url: 'addToCart/' + document.getElementById('prod_id').value,
            type: 'POST',
            success: function (result) {
                console.log(result)
            }
        })
    })
</script>
<!-- Flash Sales Begin-->
<section id="flashSale">
    <div class="endingTime">
        <div style="font-weight: 600;padding-bottom: 10px;">
            Sale Ending in
        </div>
        <div class="boxes">
            <div class="box">
                <p id="days"></p>
                <p class="opacity">days</p>
            </div>
            <div class="box">
                <p id="hours"></p>
                <p class="opacity">hrs</p>
            </div>
            <div class="box">
                <p id="minutes"></p>
                <p class="opacity">mins</p>
            </div>
            <div class="box">
                <p id="seconds"></p>
                <p class="opacity">secs</p>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="flashCard">
            <div class="div">
                <p class="off">30% OFF</p>
                <img class="img" src="{{ url_for('static', filename='flash_sales_images/img2.jpg')}}" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit
                    adipisci quos aliquam provident temporibus ipsum, aliquid harum vero delectus, placeat quasi
                </div>
                <div class="price">
                    <div class="original">
                        Rs. 100
                    </div>
                    <div class="discount">
                        Rs. 50
                    </div>
                </div>
            </div>
        </div>
        <div class="flashCard">
            <div class="div">
                <p class="off">30% OFF</p>
                <img class="img" src="{{ url_for('static', filename='flash_sales_images/img3.jpg')}}" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit
                    adipisci quos aliquam provident temporibus ipsum, aliquid harum vero delectus, placeat quasi
                </div>
                <div class="price">
                    <div class="original">
                        Rs. 100
                    </div>
                    <div class="discount">
                        Rs. 50
                    </div>
                </div>
            </div>
        </div>
        <div class="flashCard">
            <div class="div">
                <p class="off">30% OFF</p>
                <img class="img" src="{{ url_for('static', filename='flash_sales_images/img4.jpg')}}" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit
                    adipisci quos aliquam provident temporibus ipsum, aliquid harum vero delectus, placeat quasi
                </div>
                <div class="price">
                    <div class="original">
                        Rs. 100
                    </div>
                    <div class="discount">
                        Rs. 50
                    </div>
                </div>
            </div>
        </div>
        <div class="flashCard">
            <div class="div">
                <p class="off">30% OFF</p>
                <img class="img" src="{{ url_for('static', filename='flash_sales_images/img5.jpg')}}" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit
                    adipisci quos aliquam provident temporibus ipsum, aliquid harum vero delectus, placeat quasi
                </div>
                <div class="price">
                    <div class="original">
                        Rs. 100
                    </div>
                    <div class="discount">
                        Rs. 50
                    </div>
                </div>
            </div>
        </div>
        <div class="flashCard">
            <div class="div">
                <p class="off">30% OFF</p>
                <img class="img" src="{{ url_for('static', filename='flash_sales_images/img6.jpg')}}" alt="">
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit
                    adipisci quos aliquam provident temporibus ipsum, aliquid harum vero delectus, placeat quasi
                </div>
                <div class="price">
                    <div class="original">
                        Rs. 100
                    </div>
                    <div class="discount">
                        Rs. 50
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="showAll">
        <a href="#" target="_blank">See More</a>
    </div>
</section>
<!-- Flash Sales End-->

<!-- Cat Cards -->
<div class="CatBoard">
    <div class="CatCard">
        <div class="Catcard-image">
            <img src="../static/catcard-images/Books (2).jpg" class="Catcard-img">
        </div>
        <h3 class="catName">
            Books
        </h3>
    </div>
    <div class="CatCard">
        <div class="Catcard-image">
            <img src="../static/catcard-images/laptops (2).jpg" class="Catcard-img">
        </div>
        <h3 class="catName">
            Laptops
        </h3>
    </div>
    <div class="CatCard">
        <div class="Catcard-image">
            <img src="../static/catcard-images/smartphones.jpg" class="Catcard-img">
        </div>
        <h3 class="catName">
            Smartphones
        </h3>
    </div>
    <div class="CatCard">
        <div class="Catcard-image">
            <img src="../static/catcard-images/accessories.jpg" class="Catcard-img">
        </div>
        <h3 class="catName">
            Accessories
        </h3>
    </div>
</div>


<!-- landing-page-cards  -->
<div class="landing-page-card">
    <h1>Our Products</h1>

    <div class="product-board">
        <script>
            var productData
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/getCartProducts",
                    success: function (response) {
                        console.log(response)
                        var productData = JSON.parse(response)
                        console.log(productData)
                        for (i in productData) {
                            console.log(i)
                            $('.product-board').append("<div class = 'card' id = 'card_" + [i] + "'><img id='imag" + [i] + "' src=''> <p id='description" + [i] + "'></p><p id = 'price" + [i] + "'></p><div class='cardButtons'><button class='btnOne'>Buy Now</button><div class='btnTwo'><a href='#'><img class='picSize' id ='heart" + [i] + "' src='../static/landing-page-card-images/heart (2).jpg'></a></div></div></div>")
                            //console.log(document.getElementById('imag' + [i]).src) 
                            document.getElementById('imag' + [i]).src = "../static" + productData[i].img_path
                            document.getElementById('description' + [i]).innerHTML = productData[i].description
                            document.getElementById('price' + [i]).innerHTML = productData[i].price
                            if (productData[i].isFavourite == false) {
                                document.getElementById('heart' + [i]).src = "../static/landing-page-card-images/heart.png"
                            }
                            else {
                                document.getElementById('heart' + [i]).src = "../static/landing-page-card-images/heart (2).jpg"
                            }
                        }

                    }
                });
            });
        </script>

    </div>
</div>
<!-- </div> -->





<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/63b663d147425128790bbe03/1gm07brmv';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!-- <script>
    $(window).load(function() {
        $(".preload").removeClass("preload");
      });
</script> -->
<!--End of Tawk.to Script-->

{% endblock %}